<div class="card">
    <div class="card-body">
      <div class="form-group">
        <label>Nom:</label>
        <input type="text" class="form-control" [(ngModel)]="etudiant.nom" disabled>
      </div>
      <div class="form-group">
        <label>Prénom:</label>
        <input type="text" class="form-control" [(ngModel)]="etudiant.prenom" disabled>
      </div>
      <div class="form-group">
        <label>Moyenne Annuelle:</label>
        <input type="text" class="form-control" [(ngModel)]="etudiant.moy_annuelle" disabled>
      </div>
    </div>
  </div>